<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Social Network{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>Social Network</h1>
      {% if user.is_authenticated %}
        User: {{ user.get_username }}
        <a href="logout/">logout</a>
      {% else %}
        <a href="login/">login</a> / <a href="signup/">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>