{% extends "base.html" %}
{%load static%}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}"> 
<script src=" {% static 'js/script.js' %}"></script>

{% endblock %}

{% block content %}
<div class='page'>
    {% csrf_token %}
    <h2>Following</h2>
    <div class='user_list'>
    {% if object_list %}
        {% for user in object_list %} 
            {% if user != login_user %}
            {% include "includes/following_list_item.html" with user=user %}
            {% endif %} 
        {% endfor %}
    {% else %}
        <p class='date'>No followings yet.</p>
    {% endif %}
    </div>
    </div>

    
</div>
{% endblock %}