{% extends "login_base.html" %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="illustration">
            <img src={% static "img/login.png"%} id="login_pic"%}>
        </div>

        <div class="login_form">
            <h2>Login</h2>
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
        
            <form method="post" class="login_form">
            {% csrf_token %}
            <table>
            <tr>
                <td class="field">{{ form.username.label_tag }}</td>
                <td class="field">{{ form.username }}</td>
            </tr>
            <tr>
                <td class="field">{{ form.password.label_tag }}</td>
                <td class="field">{{ form.password }}</td>
            </tr>
            </table>
        
            <input type="submit" value="Log In" id="login_btn">
            <input type="hidden" name="next" value="{{ next }}">
            </form>

            <p id='donthave'>Don't have an account?</p>
            <a id='signup_btn' href={% url 'signup' %}>Sign Up</a>
            
        </div>
    </div>

{% endblock %}

