{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/feed.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        window.onload = function(){
            add_visible_to_listener('new_txt_post');
            add_visible_to_listener('new_mkd_post');
            add_visible_to_listener('new_img_post');
            add_visible_to_listener('new_git_post')
        }
    </script>
{% endblock %}

{% block content %}


<div class="feed_container">
    <div class="left_col">
        <div class='left_box'>
            <div>
                <img src={% static "img/profile.png"%} class='profile_pic_large' %}>
            </div>
            <div>
                <h1 class='banner'>{{request.user.username}}</h1>
                <h3 class='banner'>{{request.user.first_name}} {{request.user.last_name}}</h3>
            </div>
            <hr>

            <table class='stats'>
                <tr style="height: 60px;">
                    <td class='stats'>
                        <a href={% url 'followers' username=request.user.username%} class='stats'>
                        <div style="height:100%;width:100%">
                            {{follower_count}}<br/>Followers
                        </div>
                        </a>
                    </td>
                    <td class='stats'>
                        <a href={% url 'following' username=request.user.username%} class='stats'>
                        <div style="height:100%;width:100%">
                            {{following_count}}<br/>Following
                        </div>
                        </a>
                    </td>
                    <td class='stats'>
                        <a href={% url 'friends' username=request.user.username%} class='stats'>
                        <div style="height:100%;width:100%">
                            {{friend_count}}<br/>Frands
                        </div>
                        </a>
                    </td>

                </tr>
            </table>


        </div>
        <div class='left_box'>
            <h3>Users</h3>
            <a href={% url 'users' %}>View All Users</a>
        </div>
    </div>




    <div class="right_col">
        <h3 class='heading'>Add New Post</h3>
        <div class="posts_list">

            <div class="tab">
                <button class="post_tablinks active" onclick="openNewPost(event, 'new_txt_post')">Text</button>
                <button class="post_tablinks" onclick="openNewPost(event, 'new_mkd_post')">Markdown</button>
                <button class="post_tablinks" onclick="openNewPost(event, 'new_img_post')">Picture</button>
                {% if 'github' in request.user.github %}
                <button class="post_tablinks" onclick="openNewPost(event, 'new_git_post')">Github Activity</button>
                {% endif %}
            </div>

            <div id='new_txt_post' class='post_tabcontent' style="display:block;">
                <form class='post_form' id='create_form' action={% url 'createpost' %} method="post">
                    {% csrf_token %}
                    <label for="{{form.title.id_for_label}}" name='title'>Title</label> {{form.title}}
                    <label for="{{form.description.id_for_label}}" name='description'>Description</label> {{form.description}}
                    <label for="{{form.content.id_for_label}}" name='content'>Content</label>{{form.content}}
                    <div>
                        <label for="{{form.visibility.id_for_label}}" name='visibility'>Visibility</label>{{form.visibility}}
                        <div class='visible_to_field'>
                            <label for="{{form.visble_to.id_for_label}}" name='visible_to'>Visible to</label>{{form.visible_to}}
                        </div>
                    </div>

                    <div>
                        <label for="{{form.unlisted.id_for_label}}" name='unlisted'>Unlisted</label>{{form.unlisted}}
                    </div>
                    <div>
                        <label for="{{form.categories.id_for_label}}" name='categories'>Categories</label>{{form.categories}}
                    </div>
                    <input name='content_type' type='hidden' value='TXT'>
                    <input type="submit" value='Create' class="create_btn"></input>
                </form>
            </div>

            <div id='new_mkd_post' class='post_tabcontent'>
                <form class='post_form' id='create_form' action={% url 'createpost' %} method="post">
                    {% csrf_token %}
                    <label for="{{form.title.id_for_label}}" name='title'>Title</label> {{form.title}}
                    <label for="{{form.description.id_for_label}}" name='description'>Description</label> {{form.description}}
                    <label for="{{form.content.id_for_label}}" name='content'>Content</label>{{form.content}}
                    <div>
                        <label for="{{form.visibility.id_for_label}}" name='visibility'>Visibility</label>{{form.visibility}}
                        <div class='visible_to_field'>
                            <label for="{{form.visble_to.id_for_label}}" name='visible_to'>Visible to</label>{{form.visible_to}}
                        </div>
                    </div>
                    <div>
                        <label for="{{form.unlisted.id_for_label}}" name='unlisted'>Unlisted</label>{{form.unlisted}}
                    </div>
                    <div>
                        <label for="{{form.categories.id_for_label}}" name='categories'>Categories</label>{{form.categories}}
                    </div>
                    <input name='content_type' type='hidden' value='MKD'>
                    <input type="submit" value='Create' class="create_btn"></input>
                </form>
            </div>

            <div id='new_img_post' class='post_tabcontent'>
                <form class='post_form' id='create_form' action={% url 'createpost' %} method="post">
                    {% csrf_token %}
                    <label for="{{form.title.id_for_label}}" name='title'>Title</label> {{form.title}}
                    <label for="{{form.description.id_for_label}}" name='description'>Description</label> {{form.description}}
                    <input type="file" id="createPicturePostButton" onchange="getimageformat()" class="browse_btn" style="border:none;">
                    <input name="content" type="hidden" id="hiddencontent">
                    <div>
                        <label for="{{form.visibility.id_for_label}}" name='visibility'>Visibility</label>{{form.visibility}}
                        <div class='visible_to_field'>
                            <label for="{{form.visble_to.id_for_label}}" name='visible_to'>Visible to</label>{{form.visible_to}}
                        </div>
                    </div>
                    <div>
                        <label for="{{form.unlisted.id_for_label}}" name='unlisted'>Unlisted</label>{{form.unlisted}}
                    </div>
                    <div>
                        <label for="{{form.categories.id_for_label}}" name='categories'>Categories</label>{{form.categories}}
                    </div>
                    <input id='image_upload' name='content_type' type='hidden' value='???'>
                    <input type="submit" value='Create' class="create_btn"></input>
                </form>
            </div>
            <div id="new_git_post" class="post_tabcontent">
                <form class='post_form' id='create_github_form' action={% url 'github_activity' %} method="post">
                    {% csrf_token %}
                    <label for="{{form.title.id_for_label}}" name='title'>Title</label> {{form.title}}
                    <label for="{{form.description.id_for_label}}" name='description'>Description</label> {{form.description}}
                    <br>
                    It seems you connected your github account<br>
                    Post your lastest github activity event here!<br>
                    <br>
                    <div>
                        <label for="{{form.visibility.id_for_label}}" name='visibility'>Visibility</label>{{form.visibility}}
                        <div class='visible_to_field'>
                            <label for="{{form.visble_to.id_for_label}}" name='visible_to'>Visible to</label>{{form.visible_to}}
                        </div>
                    </div>

                    <div>
                        <label for="{{form.unlisted.id_for_label}}" name='unlisted'>Unlisted</label>{{form.unlisted}}
                    </div>
                    <div>
                        <label for="{{form.categories.id_for_label}}" name='categories'>Categories</label>{{form.categories}}
                    </div>
                    <input name='content_type' type='hidden' value='TXT'>
                    <input name='content' type='hidden' value='TXT'>
                    <input type="submit" value="Create" class="create_btn">
                </form>
            </div>
        </div>





        <h3 class='heading'>Latest Posts</h3>
        <div class='posts_list'>

            <div class="tab">
                <button id="feed_default_open" class="feed_tablinks active" onclick="openFeed(event, 'public_posts')">Public</button>
                <button class="feed_tablinks" onclick="openFeed(event, 'following_posts')">Following</button>
            </div>

            <div id="public_posts" class="feed_tabcontent" style="display:block">
                {% if object_list %}
                    {% for post in object_list %}
                        {% if not post.unlisted %}
                            {% include "post.html"%}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p class='date'>No posts yet.</p>
                {% endif %}
            </div>

            <div id="following_posts" class="feed_tabcontent">
                {% if following_posts %}
                    {% for post in following_posts %}
                        {% if not post.unlisted %}
                            {% include "post.html"%}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p class='date'>No posts yet.</p>
                {% endif %}
            </div>

            {% if is_paginated %}
                {% include 'includes/paginator.html'%}
            {% endif %}

        </div>
    </div>
</div>


{% endblock%}