{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/feed.css' %}">
    <script src="{% static 'js/feed.js' %}"></script>
{% endblock %}

{% block content %}
    

<div class="feed_container">
    <div class="left_col">
        <div class='left_box'>
            <h3>{{request.user.first_name}} {{request.user.last_name}}</h3>
            <h5>{{request.user.username}}</h5>
                <table class='stats'>
                    <tr style="height: 60px;">
                        <td class='stats'>
                            <a href={% url 'followers' %} class='stats'>
                            <div style="height:100%;width:100%">
                                {{follower_count}}<br/>Followers
                            </div>
                            </a>
                        </td>
                        <td class='stats'>
                            <a href={% url 'friends' %} class='stats'>
                            <div style="height:100%;width:100%">
                                    {{friend_count}}<br/>Friends
                            </div>
                            </a>
                        </td>
                        <td class='stats'>
                            <a href={% url 'profile' username=request.user.username %} class='stats'>
                            <div style="height:100%;width:100%">
                                {{post_count}}<br/>Posts
                            </div>
                            </a>
                        </td>                        
                    </tr>
                </table>
        </div>
        <div class='left_box'>
            <h3>Users</h3>
            <a href={% url 'users' %}>View All Users</a>
        </div>
    </div>

        


    <div class="right_col">

            <div class="post_content_types">
                <button class="post_btn" onclick="openPostInterface('textPost')" style="background-color: #78cfa8">Text</button>
                <button class="post_btn" onclick="openPostInterface('markdownPost')">MarkDown</button>
                <button class="post_btn" onclick="openPostInterface('picturePost')">Local Picture</button>
                <button class="post_btn" onclick="openPostInterface('urlPicturePost')">Picture URL</button>
            </div>
        
            <div id="textPost" class='newPost'>
                <h3 class='heading'>Add Text Post</h3>
                <form id="createtextPost" class='new_post_form' method="post" action="/create/">{% csrf_token %}
                    <input name="type" type="hidden" value="text/plain">
                    <input name="title" type="text" class="short" placeholder="Title">
                    <input name="description" type="text" class="short" placeholder="Description">
                    <textarea name="content" cols="50" rows="4" placeholder="Enter Text here..."></textarea>
                    <div style="padding-top:20px; padding-bottom:20px;">
                        Privacy: 
                        <select name="visibility">
                            <option value="PUBL">Public</option>
                            <option value="FRND">Friends Only</option>
                            <option value="FOAF">Friends Of Friends Only</option>
                            <option value="SERV">Friends on this host only</option>
                            <option value="PRIV">Custom</option>
                        </select>
                    </div>
                    <input type="submit" value="Create" class='create_btn'>
                </form>
            </div>


            <div id="markdownPost" class='newPost'>
                <h3 class='heading'>Add Markdown Post</h3>
                <form id="createmarkdownPost" class='new_post_form' method="post" action="/create/">{% csrf_token %}
                    <input name="type" type="hidden" value="text/markdown">
                    <input name="title" type="text" class="short" placeholder="Title">
                    <input name="description" type="text" class="short" placeholder="Description">
                    <textarea name="content" cols="50" rows="4" placeholder="Enter Markdown here..."></textarea>
                    <div style="padding-top:20px; padding-bottom:20px;">
                        Privacy:
                        <select name="visibility"> 
                            <option value="PUBL">Public</option>
                            <option value="FRND">Friends Only</option>
                            <option value="FOAF">Friends Of Friends Only</option>
                            <option value="SERV">Friends on this host only</option>
                            <option value="PRIV">Custom</option>
                        </select>
                    </div>
                    <input type="submit" value="Create" class='create_btn'>
                </form>
            </div>


            <div id="picturePost" class='newPost'>
                <h3 class='heading'>Add Picture</h3>
                <form id="createpicturePost" class='new_post_form' method="post" action="/create/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input name="type" type="hidden" value="unknown" id="picture_type">
                    <input name="title" type="text" class="short" placeholder="Title">
                    <input name="description" type="text" class="short" placeholder="Description">
                    <input name="fake-content" type="file" id="createPicturePostButton" onchange="getimageformat()" class="browse_btn">
                    <input name="content" type="hidden" id="hiddencontent">
                    <div style="padding-top:20px; padding-bottom:20px;">
                        Privacy:
                        <select name="visibility">
                            <option value="PUBL">Public</option>
                            <option value="FRND">Friends Only</option>
                            <option value="FOAF">Friends Of Friends Only</option>
                            <option value="SERV">Friends on this host only</option>
                            <option value="PRIV">Custom</option>
                        </select>
                    </div>
                    <input type="submit" value="Create" class='create_btn'>
                </form>
            </div>


            <div id="urlPicturePost" class='newPost'>
                <h3 class='heading'>Add URL Picture</h3>
                <form id="createLinkPost" class='new_post_form' method="post" action="/create/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input name="type" type="hidden" value="link">
                    <input name="title" type="text" class="short" placeholder="Title">
                    <input name="description" type="text" class="short" placeholder="Description">
                    <input name="content" type="text" class="long" placeholder="Picture URL">
                    <div style="padding-top:20px; padding-bottom:20px;">
                        Privacy:
                        <select name="visibility">
                            <option value="PUBL">Public</option>
                            <option value="FRND">Friends Only</option>
                            <option value="FOAF">Friends Of Friends Only</option>
                            <option value="SERV">Friends on this host only</option>
                            <option value="PRIV">Custom</option>
                        </select>
                    </div>
                    <input type="submit" value="Create" class='create_btn'>
                </form>
            </div>

            

        

        <div class='posts_list'>
            <h3 class='heading'>Latest Posts</h3>
            {% for post in object_list %}
                {% include "post.html"%}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock%}