{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/feed.css' %}">
    <script src="{% static 'js/feed.js' %}"></script>
{% endblock %}

{% block content %}

    <div style="padding:10px;">
        <h3>Add New Post</h3>
        <div id="textPost" class="newPost">
            <form id="createtextPost" method="post" action="/create/">{% csrf_token %}
                <input name="type" type="hidden" value="text/plain">
                Title:
                <input name="title" type="text">
                <br>
                Description:
                <input name="description" type="text">
                <br>
                <textarea name="content" cols="50" rows="4">Enter text here.</textarea> <br><br>
                Privacy:<br>
                <select name="visibility">
                    <option value="PUBL">Public</option>
                    <option value="FRND">Friends Only</option>
                    <option value="FOAF">Friends Of Friends Only</option>
                    <option value="SERV">Friends on this host only</option>
                    <option value="PRIV">Custom</option>
                </select>
                <input type="submit" value="Create">
            </form>
        </div>


        <div id="markdownPost" class="newPost">
            <form id="createmarkdownPost" method="post" action="/create/">{% csrf_token %}
                <input name="type" type="hidden" value="text/markdown">
                Title:
                <input name="title" type="text">
                <br>
                Description:
                <input name="description" type="text">
                <br>
                <textarea name="content" cols="50" rows="4">Enter text here.</textarea> <br><br>
                Privacy:<br>
                <select name="visibility">
                    <option value="PUBL">Public</option>
                    <option value="FRND">Friends Only</option>
                    <option value="FOAF">Friends Of Friends Only</option>
                    <option value="SERV">Friends on this host only</option>
                    <option value="PRIV">Custom</option>
                </select>
                <input type="submit" value="Create">
            </form>
        </div>


        <div id="picturePost" class="newPost">
            <form id="createpicturePost" method="post" action="/create/" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="type" type="hidden" value="unknown" id="picture_type">
                Title:
                <input name="title" type="text">
                <br>
                Description:
                <input name="description" type="text">
                <br>
                <input name="fake-content" type="file" id="createPicturePostButton" onchange="getimageformat()">
                <input name="content" type="hidden" id="hiddencontent">
                <br><br>
                Privacy:<br>
                <select name="visibility">
                    <option value="PUBL">Public</option>
                    <option value="FRND">Friends Only</option>
                    <option value="FOAF">Friends Of Friends Only</option>
                    <option value="SERV">Friends on this host only</option>
                    <option value="PRIV">Custom</option>
                </select>
                <input type="submit" value="Create">
            </form>
        </div>


        <div id="urlPicturePost" class="newPost">
            <form id="createLinkPost" method="post" action="/create/" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="type" type="hidden" value="link">
                Title:
                <input name="title" type="text">
                <br>
                Description:
                <input name="description" type="text">
                Content:
                <input name="content" type="text">
                Privacy:<br>
                <select name="visibility">
                    <option value="PUBL">Public</option>
                    <option value="FRND">Friends Only</option>
                    <option value="FOAF">Friends Of Friends Only</option>
                    <option value="SERV">Friends on this host only</option>
                    <option value="PRIV">Custom</option>
                </select>
                <input type="submit" value="Create">
            </form>
        </div>


        <div class="createPostTabs">
            <button class="post_tags" onclick="openPostInterface('textPost')">Text</button>
            <button class="post_tags" onclick="openPostInterface('markdownPost')">MarkDown</button>
            <button class="post_tags" onclick="openPostInterface('picturePost')">Local Picture</button>
            <button class="post_tags" onclick="openPostInterface('urlPicturePost')">Picture Url</button>
        </div>

        <h3>Latest Posts</h3>
        <div style="padding-bottom: 2000px;">
            {% for post in object_list %}
                {% include "post.html"%}
            {% endfor %}
        </div>
    </div>


{% endblock%}