{# render the passed-in post #}
<div class='post'>
    <div>
        <h4 class='fullname'>{{post.author.first_name}} {{post.author.last_name}}</h4>
        <p class='username'>@{{post.author.username}}</p>
    </div>
    <div>
        <a href={{post.source}}>{{post.title}}</a>
        {% if post.content_type == 'text/plain' %}
            <p>{{post.content}}</p>
        {% elif post.content_type == 'text/markdown' %}
            <p>{{post.content}}</p>
        {% else %}
            <p>Picture Post, Click on link to see image</p>
        {% endif %}
    </div>


</div>
