{# render the passed-in post #}
{% load static %}
<div class='post'>
    <div class='post_top'>
        <img src={% static "img/profile.png"%} class='profile_pic_small' %}>
        <h4 class='fullname'><a href={% url 'profile' username=post.author.username %} class='fullname'>{{post.author.first_name}} {{post.author.last_name}}</a></h4>
        <p class='date'>{{post.published}}</p>
    </div>
    <div style="padding-top:10px;">
        <a href="{{post.source}}" class="post_title">{{post.title}}</a>
        <p>{{post.content}}</p>
    </div>
</div>
