{% extends "base.html" %}
{% load static %}

{% block styles %}
{% endblock %}


<div>
    <h4 class='fullname'>{{post.author.first_name}} {{post.author.last_name}}</h4>
    <p class='username'>@{{post.author.username}}</p>
</div>
<h1>{{ post.title }}</h1>
<p>{{ post.comment }}</p>
<p>{{ post.content }}</p>


{% for comments in post_comments %}
    {% include "comments.html"%}
{% endfor %}

<br>
<form method="post" action="/newComment/" enctype="multipart/form-data">{% csrf_token %}
    <input name="post" type="hidden" value={{ post.id }}>
    <input name="comment" type="text">
    <input type="submit">

</form>