
{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class='banner'>
        <h1 class='banner'>{{user.first_name}} {{user.last_name}}</h1>
        <h3 class='banner'>{{user.username}}</h3>
    </div>
   
    <table class='content'>
        <td class='left_col'>
            <div class='left_box'>
                <h3>About Me</h3>
                <p>{{user.bio}}</p>
                <a href={{user.github}}>Github</a>
            </div>
            <div class='left_box'>
                <h3>Stats</h3>

                <table class='stats'>
                    <tr style="height: 60px;">
                        <td class='stats'>
                            <a href={% url 'followers' %} class='stats'>
                            <div style="height:100%;width:100%">
                                {{follower_count}}<br/>Followers
                            </div>
                            </a>
                        </td>
                        <td class='stats'>
                            <a href={% url 'friends' %} class='stats'>
                            <div style="height:100%;width:100%">
                                    {{friend_count}}<br/>Friends
                            </div>
                            </a>
                        </td>
                        <td class='stats'>{{post_count}}<br/>Posts</td>
                        
                    </tr>
                </table>


            </div>
        </td>
        <td class='right_col'>
            {% for post in object_list %}
            {% include "post.html" %}
            {% endfor %}
        </td>
    </table>

{% endblock%}