{# look up include, call include in for loop #}

{% extends "profile_base.html" %}

{% block content %}
    <div class='banner'>
        <h1>{{user.first_name}} {{user.last_name}}</h1>
        <h3>{{user.username}}</h3>
    </div>
   
    <table class='content'>
        <td class='left_col'>
            <div class='stats'>blah</div>
            <div class='about'>blahblah</div>
        </td>
        <td class='right_col'>
            {% for post in object_list %}
            {% include "post.html" %}
            {% endfor %}
        </td>
    </table>



{% endblock%}