
{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">

    <script src="{% static 'js/script.js' %}"></script>

{% endblock %}

{% block content %}

   
    <div class='content'>
        <div class='left_col'>
            <div class='left_box'>
                <div>
                    <img src={% static "img/profile.png"%} class='profile_pic_large' %}>
                </div>
                <div>
                    <h1 class='banner'>{{user.username}}</h1>
                    <h3 class='banner'>{{user.first_name}} {{user.last_name}}</h3>
                    {% if request.user != user %}
                        {% if request.user in user.friends %}
                            <button disabled class='inactive_btn' id='friend_{{user.id}}'>Frands &#x2713;</button>
                        {% elif request.user in user.incomingRequests %}
                            <button disabled class='inactive_btn' id='friend_{{user.id}}'>Frand Request Sent &#x2713;</button>
                        {% elif request.user in user.outgoingRequests %}
                            <button class='add_friend_btn' type='submit' onclick="confirmFriend('{{user.id}}')" id='friend_{{user.id}}'>+ Confirm Frand</button>
                        {% else %}
                            <button class='add_friend_btn' type='submit' onclick="addFriend('{{user.id}}')" id='friend_{{user.id}}'>+ Add Frand</button>
                        {% endif %}
                    
                        {% if request.user in user.following %}
                            <button class='delete_friend_btn' type='submit' onclick="unfollow('{{user.id}}')" id='follow_{{user.id}}'>Unfllow</button>
                        {% else %}
                            <button class='add_friend_btn' type='submit' onclick="follow('{{user.id}}')" id='follow_{{user.id}}'>Follow</button>
                        {% endif %}
                    {% endif %}

                </div>
                <hr>

                {% if user.local %}
                <table class='stats'>
                    <tr style="height: 60px;">
                        <td class='stats'>
                            <a href={% url 'followers' username=user.username %} class='stats'>
                            <div style="height:100%;width:100%">
                                {{user.followers.count}}<br/>Followers
                            </div>
                            </a>
                        </td>
                        <td class='stats'>
                            <a href={% url 'following' username=user.username %} class='stats'>
                            <div style="height:100%;width:100%">
                                {{user.following.count}}<br/>Following
                            </div>
                            </a>
                        </td>
                        <td class='stats'>
                            <a href={% url 'friends' username=user.username %} class='stats'>
                            <div style="height:100%;width:100%">
                                    {{user.friends.count}}<br/>Frands
                            </div>
                            </a>
                        </td>      
                    </tr>
                </table>
                <hr>
                {% endif %}
                

                <h3>Bio</h3>
                <p>{{user.bio}}</p>
                <hr>
                <p>{{post_count}} post(s)</p>
                <a href="{{user.github}}">Github</a>
                {% if user.host %}
                    <p>Host: {{user.host}}</p>
                {% else %}
                    <p>Local User</p>
                {% endif %}
            </div>
        </div>



        <div class='right_col'>
            <h3 class='heading'>Posts</h3>
            {% if object_list %}
                {% for post in object_list %}
                {% include "post.html" %}
                {% endfor %}
            {% else %}
                <p class='date'>No posts yet.</p>
            {% endif %}
        </div>
    </div>

{% endblock%}