
body,html{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 252, 245);
}

.header{
    height: 50px;
    /* background-image: linear-gradient(to right,rgb(61, 153, 112), rgb(84, 199, 119), #3D9970); */
    /* background-image: url("{% static 'img/banner.png' %}"); */
    box-shadow: 0 1px 0 rgba(32, 29, 36, 0.2),0 6px 6px rgba(65, 59, 69, 0.2);
    z-index:9;
    position:sticky;
    top:0;
    text-align: center;
    color: white;
}

.header2{
    height: 50px;
    width:100%;
    background-color: rgba(255, 255, 255, 0);
    z-index:10;
    position:fixed;
    top:0;
}

#logo{
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

a.header_link{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    text-decoration: none;
}

a{
    text-decoration: none;
    outline: none;
}

.header_link:hover{
    background-color: rgba(255, 255, 255, 0.3);
}


/* Dropdown Button */
.dropbtn {
    float:right;
    min-width:100px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    float:right;
    width:250px;
  
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    /* position: relative; */
    position: fixed;
    background-color: white;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top:50px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(208, 224, 202);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      /* display: block; */
      display: flex;
      flex-direction: column;

}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgba(255, 255, 255, 0.5);;}
  
div.left_box{
    background-color:  rgba(255, 255, 255);
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 4px 6px rgba(59,64,69,0.1);
    padding: 10px;
    margin: 5px;
    /* border-width: 0px;
    border-radius: 5px; */
}


div.post{
    background-color: rgba(255, 255, 255);
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 4px 6px rgba(59,64,69,0.1);
    padding: 10px;
    margin: 5px;
    /* border-width: 0px;
    border-radius: 5px; */
}

div.post_top{
    display:flex;
    flex-direction: row; 
    align-items: baseline;
}
div.post_bottom{
    padding-top:10px;
}

img.profile_pic_small{
    width: 20px;
    padding-right: 5px;
}
img.profile_pic_large{
    width: 50px;
    padding: 5px;
    padding-right:10px;
}


.fullname{
    margin: 0px;
    color: #3D9970;
}

.date{
    margin: 0px;
    font-size: smaller;
    color: #79787a;
    padding-left: 5px;
}

.post_title{
    color: black;
    font-weight: bold;
    font-size: 14pt;
}
.post_title:hover{
    text-decoration: underline;
}


