
body,html{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 252, 245);
}

.header{
    height: 50px;
    width:100%;
    box-shadow: 0 1px 0 rgba(32, 29, 36, 0.2),0 6px 6px rgba(65, 59, 69, 0.2);
    z-index:9;
    position:fixed;
    top:0;
    text-align: center;
    color: white;
}

.header2{
    height: 50px;
    width:100%;
    background-color: rgba(255, 255, 255, 0);
    z-index:10;
    position:fixed;
    top:0;
}

div.page{
    margin-top:50px;
    padding:10px;
}



.notify_bubble{
    margin-left:5px;
    padding: 2px 6px 2px 6px;
    background-color: rgb(252, 85, 34);
    color: white;
    font-size: 0.8em;
    border-radius: 50%;
}

#logo{
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

a.header_link{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    text-decoration: none;
}

a{
    text-decoration: none;
    outline: none;
    color: #3D9970;
}

.header_link:hover{
    background-color: rgba(255, 255, 255, 0.3);
}


/* Dropdown Button */
.dropbtn {
    float:right;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
#menu_icon{
    width:30px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
float:right;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: fixed;
background-color: white;
width: 250px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
top:50px;
right:0;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 10px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(208, 224, 202);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    /* display: block; */
    display: flex;
    flex-direction: column;
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.5);
}
#menu_me{
    padding:10px; 
    border-bottom: 1px solid rgb(224, 224, 224); 
    text-align: center;
}





  
div.left_box{
    background-color:  rgba(255, 255, 255);
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 4px 6px rgba(59,64,69,0.1);
    padding: 10px;
    margin: 5px;
    /* border-width: 0px;
    border-radius: 5px; */
}


div.post{
    background-color: rgba(255, 255, 255);
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 4px 6px rgba(59,64,69,0.1);
    padding: 10px;
    margin: 5px;
    /* border-width: 0px;
    border-radius: 5px; */
}

div.post_top{
    display:flex;
    flex-direction: row; 
    align-items: center;
}
div.post_bottom{
    padding-top:10px;
}

img.profile_pic_small{
    width: 20px;
    padding-right: 5px;
}
img.profile_pic_large{
    width: 50px;
    padding: 5px;
    padding-right:10px;
}


.fullname{
    margin: 0px;
    color: #3D9970;
}

.date{
    margin: 0px;
    font-size: smaller;
    color: #79787a;
    padding-left: 5px;
}

.post_title{
    color: black;
    font-weight: bold;
    font-size: 14pt;
}
.post_title:hover{
    text-decoration: underline;
}

hr{
    border: 0;
    border-top: 1px solid #eee;
    margin: 10px 0;
}


