body,html{
    margin:0;
    padding:0;
}

.header{
    height: 50px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 4px 6px rgba(59,64,69,0.1);
    background-image: linear-gradient(to right,rgba(87, 24, 69), rgba(206, 0, 72));
    z-index:10;
    position:sticky;
    top:0;
}

.feed_link{
    float: left;
}

.user{
    float:right;
}

div.post{
    background-color:white;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 4px 6px rgba(59,64,69,0.1);
    padding: 10px;
    margin: 5px;
    border-width: 0px;
    border-radius: 10px;
}

