html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column; 
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding-bottom: 100px;
    background-image: linear-gradient(to bottom,rgb(255, 255, 255), rgb(242, 229, 248));
}

.title{
    display: flex;
    justify-content: center;
    width: 100%;
    height:150px;
    box-shadow: 0 1px 0 rgba(32, 29, 36, 0.1),0 6px 6px rgba(65, 59, 69, 0.1);
}

.illustration{
    width:40%;
    background-color: pink;
}

.login_form{
    width:400px;
}

.field{
    padding-bottom: 15px;
}

#login_btn{
    color: white;
    border-width: 0;
    border-radius: 3px;
    background-color: rgb(116, 12, 139);
    width:75%;
    height: 50px;
    font-size: medium;
}

#login_btn:hover{
    background-color: rgb(174, 107, 189);
}

#donthave{   
    margin-top:60px;
}

#signup{
    border-radius: 3px;
    border-width: 0;
    background-color: rgb(116, 12, 139);
    width:75%;
    height: 50px;
    font-size: medium;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}

#signup:hover{
    background-color: rgb(174, 107, 189);
}

.signup_form{
    width:600px;
}

#signup_form_btn{
    color: white;
    border-width: 0;
    border-radius: 3px;
    background-color: rgb(116, 12, 139);
    width:50%;
    height: 50px;
    font-size: medium;
}

#signup_form_btn:hover{
    background-color: rgb(174, 107, 189);
}

