div.post{
    background-color: rgba(255, 234, 206, 0.486);
    padding: 10px;
    margin: 5px;
    border-width: 0px;
    border-radius: 10px;
}

.fullname{
    margin: 0px;
    margin-top: 5px;
}

.username{
    margin: 0px;
    font-size: small;
    color: #ada9a9;
}