
.content{
    padding-bottom: 2000px; 
}

.left_col{
    width:30%;
    vertical-align: top;
    float:left;
    position:fixed;
    top: 50px;
}

.right_col{
    width: 70%;
    vertical-align: top;
    float: right;
}


table.stats{
    text-align: center;
    width:100%;
}
td.stats{
    width:33%;
}
td.stats:hover{
    background-color: rgba(125, 198, 167, 0.2)
}


div.banner{
    position: sticky;
    min-width: 100%;
    height: auto;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 4px 6px rgba(59,64,69,0.1);
    background-color:#ffffff;
    padding: 20px;
    top: 50px;
    z-index: 5;
    color: rgb(0, 0, 0);
    display:flex;
    flex-direction: row;
}
h1.banner{
    margin: 0;
}

h3.banner{
    margin: 0;
}



a.stats {
    color: #3D9970;
}

a.stats:hover{
    background-color: rgba(88, 31, 153, 0.2);
}
