
table.content{
    padding-bottom: 2000px; 
    width:100%;
}

td.left_col{
    width:30%;
    vertical-align: top;
}

td.right_col{
    width: 70%;
    vertical-align: top;
}

div.stats{
    background-color:  rgba(255, 255, 255);
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 4px 6px rgba(59,64,69,0.1);
    padding: 10px;
    margin: 5px;
    border-width: 0px;
    border-radius: 5px;
}

table.stats{
    text-align: center;
    width:100%;
}
td.stats{
    width:25%;
}
td.stats:hover{
    background-color: rgba(183, 125, 198, 0.2)
}

div.about{
    background-color: rgba(255, 255, 255);
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 4px 6px rgba(59,64,69,0.1);
    padding: 10px;
    margin: 5px;
    border-width: 0px;
    border-radius: 5px;
}

div.banner{
    position: sticky;
    min-width: 100%;
    height: auto;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 4px 6px rgba(59,64,69,0.1);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    top: 50px;
    z-index: 5;
    color: rgb(0, 0, 0);
}
h1.banner{
    margin: 0;
}

h3.banner{
    margin: 0;
}



a.stats {
    color: #581f99;
}

a.stats:hover{
    background-color: rgba(88, 31, 153, 0.2);
}
