div.user_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.add_friend_btn{
    color: white;
    border-width: 0;
    border-radius: 3px;
    background-color: #3D9970;
    /* width:100px; */
    height: 30px;
    font-size: medium;
}

.add_friend_btn:hover{
    background-color:#78cfa8;
    cursor: pointer;
}

.delete_friend_btn{
    color: white;
    border-width: 0;
    border-radius: 3px;
    background-color: #d46161;
    /* width:100px; */
    height: 30px;
    font-size: medium;
}

.delete_friend_btn:hover{
    background-color:#e98a8a;
    cursor: pointer;
}

