{% load static %}

<html>
    <head>        
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <div class="header" style="background-image: url({% static 'img/banner2.png'%}); background-size:cover;">
            <div id="logo">frand
                <img src={% static "img/logo_white.png"%} id="logo_white"%}>
                zone
            </div>
            
            
        </div>
        <div class="header2">
            <a class="header_link" href={% url 'feed' %}>Feed</a>
            <a class="header_link" href={% url 'friend_request' %}>
                Notifications 
                {% if friend_request_count > 0 %}
                    <span class="notify_bubble">{{friend_request_count}}</span>
                {% endif %}
            </a>

            
            <div class="dropdown">
                <div class="dropbtn">
                    <img src={% static "img/menu.png"%} id='menu_icon'>
                </div>
                <div class="dropdown-content">
                    <div id="menu_me">
                        <img src={% static "img/profile.png"%} class='profile_pic_large' %}>
                        <h3>{{request.user.username}}</h3>
                    </div>
                    <a href={% url 'profile' username=request.user.username %}>My Profile</a>
                    <a href={% url 'account_settings' %}>Account Settings</a>
                    <a href={% url 'logout' %} style="color:#db6b2a">Log Out</a>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    
    </body>

</html>