{% load static %}

<!DOCTYPE html>
<html lang="en" >
    <head>
    <meta charset="utf-8">
    <title>Welcome to the FrandZone!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_signup.css' %}">
    </head>
    <body>
        <div class="container" >
            {# <h1 class="title" style="background-image: url({% static 'img/banner2.png'%}); background-size:100% 100%;">FrandZone</h1>#}
            <div class='title'>
                <h1 >Frand</h1>
                <img src={% static "img/logo.png"%} id="logo"%}>
                <h1 >Zone</h1>
            </div>
            {% block content %}
            {% endblock %}
         </div>
    </body>
</html>