{%load static%}


<div class='post' style="width:45%;">
    <div class='post_top'>
        <img src={% static "img/profile.png"%} class='profile_pic_small' %}>
        <h4 class='fullname'>{{user.username}}</h4>
    </div>
    {% csrf_token %}
    <div style="padding:10px">
        {% if user in friends %}
            Friends &#x2713; 
        {% endif %}

        {% if user in following %}
            <button class='delete_friend_btn' type='submit' onclick="unfollow('{{user.id}}')">Unfllow</button>
        {% else %}
            <button class='add_friend_btn' type='submit' onclick="follow('{{user.id}}')">Follow</button>
        {% endif %}
    </div>

</div>